$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;
  background-color: #FCFCFC;

  body {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,strike,strong,tt,var,b,u,i,center,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

   

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER

    .home-items {
      
      margin: 2vh 12vw;

      .prod-show {
        display: flex;
        flex-direction: row;
        margin: 40px 0;
        justify-content: space-between;
        gap: 15px;

 
      }

      .services {
        width: 16vw;
        height: 18vh;
      }

      .services2 {
        width: 78vw;
        // height: 32vh;
      }

      .prod-show2 {
        display: flex;
        flex-direction: column;
        margin: 40px 0;
        justify-content: space-between;
        gap: 15px;

 
      }

      .img-part {
        width: 98%;
        height: 100%;
      }

    }

    .read-more {

      button{
        color: #0095eb;
        background-color: transparent;
        border: none;
        float: right;
      }
      
    }

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: lightgrey;

      h1 {
        font-size: 20px;
        color: #d30000;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: #d30000;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //NAVBAR

    @media (max-width: 1280px) {
      .navbar .container {
          max-height: none;
      }
  }

    @media (min-width: 1280px) {
      .container {
          max-height: 15vh;
      }


  }

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;


        
        
        // ul {
        //   list-style: none;
        // }
        
        .menu-items {
          list-style: none;
          // position: relative;
          // top: 50px;
          position: absolute;
          //margin-top: 1vh;/* Adjust this as needed */
          //left: 0;
          list-style-type: none;
          //padding: 0;
          //margin: 0;
          //width: 100%;
        }

        .menu-items li {
          padding: 10px;
          border: 1px solid rgb(230,230,230);
          margin-left: -15px;
          background-color: rgb(242, 242, 242);

          &:first-child {
            margin-top: 10px;
          }
          
          a {
            color: rgb(119, 119, 119);
          }
        }

        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          position: relative;
          top: -50px;
          flex-wrap: wrap;
          

          h6 {
            font-size: 15px;
            font-weight: 400;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: #d30000;
              background-color: white;
              border: 1px solid #d30000;
            }
          }
        }
      }
    }

    .navbar .link:hover {
      color: #d30000;
    }

    .navbar .link-brd {
      border-right-width: 1px;
      border-style: solid;
      border-color: rgba(0,0,0,.15);
    }

    .navbar .link-brd:hover, .navbar .link:hover {
      border-bottom-width: 1px;
      border-style: solid;
      border-bottom-color: #d30000;
    }

    .navbar .link-brd, .navbar .link, .navbar span {
      padding: 0 18px;
      padding-bottom: 5px;
    }

    //Related post

    

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 0 20px;
      background-color: #292b33;
      color: #cccccc;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      flex-direction: column;
      margin: 0;
      line-height: 25px;
      min-height: 75vh;

      img {
        height: 50px;
      }
    }
    footer a {
      color: #0095eb;
    }

    footer .container {
      display: flex;
      flex-direction: row;
    }

    #Footer .widgets_wrapper .column {
      margin-bottom: 0;
  }
  

    .widget_archive ul li a, .widget_nav_menu ul li a {
      display: block;
      padding: 8px 0 9px 3px;
    }

    .column, .columns {
      float: left; 
      margin: 0 1% 40px; 
   }

   .one-fourth.column, .four.columns {
        width: 23%;
    }
    .one-second.column {
        width: 48%;
    }
    .one-fourth.column, .four.columns {
        width: 23%;
    }

    p {
        margin: 0 0 15px;
    }

    #Footer .widgets_wrapper .widget {
      padding: 15px 0;
      margin-bottom: 0;
    }
    .widget {
        padding-bottom: 30px;
        margin-top: 30px;
        position: relative;
    }

    #Footer .widgets_wrapper {
        padding: 10px 0;
    }

    a, a:visited, a:focus {
      text-decoration: none;
      outline: 0;
    }

    #Footer .footer_copy {
      border-top: 1px solid rgba(255,255,255,.1);
      border-top-color: rgba(255,255,255,0.1);
      width: 100%;
      text-align: center;
      padding: 20px;
    }

    #Footer .footer_copy .one {
      margin-bottom: 20px;
      padding-top: 40px;
      min-height: 33px;
  }

  @media only screen and (min-width: 960px) and (max-width: 1239px) {
    .section_wrapper, .container, .with_aside .content_wrapper {
      max-width: 940px;
    }
  }
  .widget_archive ul, .widget_nav_menu ul {
    list-style-type: square;
    padding: 5px 10px 5px 30px;
    background: rgba(0,0,0,.03);
    color: #0095eb;
  }

  .widget_archive ul li, .widget_nav_menu ul li {
      position: relative;
  }


  #block-14 div ul li {
    list-style: none;
  }

  #Footer .footer_copy container {
    justify-content: center;
  }

 



    //HOME


    .home-news {
      float: left;
      width: 66%;
    }

    .video-div {
      width: 34%;
      float: right;

      iframe {
        min-height: 30vh;
        min-width: 25vw;
        margin: 1vh 0;
        width: 100%;
      }
  
    }


    .video-bar {
      background-color: #d10600!important;
      color: #ffffff;
      //width: 32%;
      padding: 10px 20px;
      text-align: center;
      //float: right;

    }

    .home {
      background-color: #FCFCFC;
      

      .tin-tuc-bar {
        background-color: #d10600!important;
        color: #ffffff;
        width: 94%;
        padding: 10px 20px;
        text-align: center;
      }

      .posts {
        margin-top: 50px;
        display: flex;
        //flex-direction: column;
        gap: 25px;
        margin-bottom: 50px;
        //width: 66%;
        //flex-wrap: wrap;
        margin-left: 18px;
        
        div .read-more {
          padding: 10px;
        }

        .post {
          display: flex;
          //gap: 100px;
          gap: 10px;
          flex-direction: column;
          //background: #fff!important;
          width: 45%;

          // &:nth-child(2n + 1) {
          //   flex-direction: row-reverse;
          // }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-width: 1000px;
              max-height: 300px;
              object-fit: cover;
            }
          }

          .content {
            //flex: 3;
            gap: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #fff !important;
            padding: 20px;

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 18px;
              color: #616a77;
            }

            button {
              // width: max-content;
              // padding: 10px 20px;
              // border: none;
              // cursor: pointer;
              // background-color: white;
              // border: 1px solid #d30000;
              // color: #d30000;

              // &:hover {
              //   border: 1px solid white;
              //   background-color: $lightGreen;
              //   color: black;
              // }
            }
          }


        }

        .post-cat {
          display: flex;
          // gap: 5px;
          flex-direction: column;
          //background: #fff!important;
          flex-direction: row;
          //width: 100%;

          // &:nth-child(2n + 1) {
          //   flex-direction: row-reverse;
          // }
          
          .cat-title {
            font-size: 30px;
            font-weight: 200;
          }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              width: 440px;
              height: 315px;
              // max-height: 400px;
              object-fit: cover;
              margin-left: 30px;
              margin-right: 20px;

            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
            gap: 20px;

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 18px;
              color: #616a77;
            }

            button {
              // width: max-content;
              // padding: 10px 20px;
              // border: none;
              // cursor: pointer;
              // background-color: white;
              // border: 1px solid #d30000;
              // color: #d30000;
              border-left: 1px solid #e4e4e4;
              padding: 0 20px;

              // &:hover {
              //   border: 1px solid white;
              //   background-color: $lightGreen;
              //   color: black;
              // }
            }

            .read-more {
              background-color: #f7f7f7;
              padding: 15px 0 ;
            }
          }

          
        }


      }

      
    }

    //SINGLE

    .single {
      display: flex;
      gap: 50px;
      //margin-bottom: 50px;
      //background-color: #FCFCFC;
      flex-direction: column;
      margin: 0 13vw 50px 13vw;

      
      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          max-width: 1024px;
          max-height: 650px;
          object-fit: contain;
          margin-left: auto;
          margin-right: auto;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;

          .ql-align-center {
            text-align: center;
          }

          .ql-align-justify img{
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

          img {
            margin: 0 7vw;
          }

          table, td {
            border: 1px solid rgb(232,232,232);
            text-align: center;
          }

          table {
            border-spacing:0; 
            border-collapse: collapse; 
            color: #64636b;
            td {
              min-width: 41px;
            }
            tr:nth-child(even) {
              background-color: rgb(249,249,249);
            }
          }


        }
      }
      .menu {
        flex: 2;
        display: flex;
        gap: 25px;
        justify-content: space-between;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;
          

          img {
            max-width: 95%;
            object-fit: fill;
            max-height: 300px;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: #747474;;
            background-color: #f7f7f7;
            //border: 1px solid #d30000;

            &:hover {
              border: 1px solid white;
              background-color: gray;
              color: black;
            }
          }
        }
      }
    }

    .menu img {
      
    }

    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      margin-bottom: 50px;
      margin-left: 10vw;
      margin-right: 10vw;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
          p {
            height: 300px;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            :first-child{
              cursor: pointer;
              color: #d30000;
              background-color: white;
              border: 1px solid #d30000;
              padding: 3px 5px;
            }
            :last-child{
              cursor: pointer;
              color: white;
              background-color: #d30000;
              border: 1px solid #d30000;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: #d30000;
          }
        }
      }
    }
  }


}
